## Consigna: Leer los set de datos w_data.csv y p_data.csv, fusionarlos a partir de la variable que tengan en común (ID)y realizar las siguientes ejercicios:
Aspectos a incluir en el entregable:
El código debe estar hecho en un notebook y debe estar probado. Recordar que si bien, la actividad
se realiza grupalmente, las entregas son individuales.

In [1]:
import pandas as pd
import numpy as np

In [7]:
w_data=pd.read_csv("w_data.csv",sep=";")
w_data.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K

### 1Cuantos ID tienen en común. Nombrar cuales no tienen en común

### 2Corregir los target a solo dos valores distintos ‘<=50k’ y ‘>50k’

### 3 Calcular la proporción que hay entre personas con salarios >50k respecto del total para Entre personas de distinto sexo, Raza y Educacion. Por ejemplo cuál es el porcentaje de mujeres con un salario mayor a 50K y compararlo con el de los hombres. Lo mismo para personas de distintas razas y Educación